@using ProyectoMaersk.Clases <!--crear todas las clases ya creadas-->
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.Extensions.Configuration
@using System.Security.Claims;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Http;
@using MySqlConnector
@using Microsoft.AspNetCore.Identity
@inject NavigationManager NavManager
@inject Microsoft.Extensions.Configuration.IConfiguration config
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SignInManager<UsuarioIdentity> SignInManager

<div class="navbar navbar-dark" style="background-color:#778DA9">
    <a class="navbar-brand" href="">
        <img src="logo.png" height="40" />
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<AuthorizeView>
    <Authorized>
        <div class="@NavMenuCssClass" style="background-color:#778DA9" @onclick="ToggleNavMenu">
            <ul class="nav flex-column">
                <li class="nav-item px-3 text-white">
                    <div class="row text-center">
                        <div class="col-1">
                            <span class="oi oi-person" aria-hidden="true"></span>
                        </div>
                        <div class="col-8">
                            Codigo: @usuario.Codigo
                            <br />
                            @usuario.Nombre
                        </div>
                        <div class="col-1">
                        </div>
                    </div>
                </li>
                <!--pantallas que salen en el menú-->
                <!--si el usuario es administrador si aparece en el manú la parte de personal, de lo contrario no-->
                @if (usuario.EsAdministrador)
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="personal">
                            <span class="oi oi-people" aria-hidden="true"></span> Personal
                        </NavLink>
                    </li>
                }
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/">
                        <span class="oi oi-spreadsheet" aria-hidden="true"></span> Reserva y Reportes
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="seguimiento">
                        <span class="oi oi-map" aria-hidden="true"></span> Seguimiento
                    </NavLink>
                </li>
            </ul>
        </div>
    </Authorized>
</AuthorizeView>

@code {

    string connString = "";
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    public LeeUsuario usuario = new LeeUsuario();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        String connString = config.GetConnectionString("MySqlNaviera");
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            usuario.Leer(user.Identity.Name, connString);
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
