@page "/ReservasAgregar"

<h1>Personal</h1>

<p>Agregar reservas</p>

<div class="container">
    <form>
        <div class="form-group">
            <label for="empresa">Empresa</label>
            <input type="text" class="form-control" id="empresa">
        </div>
        <div class="form-group">
            <label for="nit">Numero Id. Tributaria</label>
            <input type="text" class="form-control" id="nit">
        </div>
        <div class="form-group">
            <label for="direccion">Direccion</label>
            <input type="text" class="form-control" id="direccion">
        </div>
        <div class="form-group">
            <label for="paisorigen">Pais Origen</label>
            <select class="form-control" id="paisorigen">
                <option>Guatemala</option>
                <option>El Salvador</option>
                <option>España</option>
                <option>EEUU</option>
                <option>Brasil</option>
            </select>
        </div>
        <div class="form-group">
            <label for="puertoorigen">Puerto Origen</label>
            <select class="form-control" id="puertoorigen">
                <option>Santo Tomas</option>
                <option>San Jose</option>
                <option>Barcelona</option>
                <option>Los Angeles</option>
                <option>Rio du Janeiro</option>
            </select>
        </div>
        <div class="form-group">
            <label for="paisdestino">Pais Destino</label>
            <select class="form-control" id="paisdestino">
                <option>Guatemala</option>
                <option>El Salvador</option>
                <option>España</option>
                <option>EEUU</option>
                <option>Brasil</option>
            </select>
        </div>
        <div class="form-group">
            <label for="puertodestino">Puerto Destino</label>
            <select class="form-control" id="puertodestino">
                <option>Santo Tomas</option>
                <option>San Jose</option>
                <option>Barcelona</option>
                <option>Los Angeles</option>
                <option>Rio du Janeiro</option>
            </select>
        </div>
        <div class="form-group">
            <label for="receptor">Receptor de la Carga</label>
            <input type="text" class="form-control" id="receptor">
        </div>
        <div class="form-group">
            <label for="contrasenia">Contraseña de Recepcion</label>
            <input type="text" class="form-control" id="contrasenia">
        </div>
        <div class="form-group">
            <label for="tipocarga">Tipo de Carga</label>
            <select class="form-control" id="tipocarga">
                <option>Combustible</option>
                <option>Perecederos</option>
                <option>No Perecederos</option>
            </select>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripcion de la carga</label>
            <textarea class="form-control" id="descripcion" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="peso">Peso en Kg.</label>
            <input type="text" class="form-control" id="peso">
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <select class="form-control" id="valor">
                <option>US$     0.01 - US$ 1,000.00</option>
                <option>US$ 1,000.01 - US$ 2,000.00</option>
                <option>US$ 2,000.01 - US$ 3,000.00</option>
                <option>US$ 3,000.01 - US$ 4,000.00</option>
                <option>US$ 4,000.01 - US$ 5,000.00</option>
            </select>
        </div>
        <div class="form-group">
            <label for="tipocontenedor">Tipo de Contenedor</label>
            <select class="form-control" id="tipocontenedor">
                <option>DRVA</option>
                <option>REFRR</option>
                <option>OTSUP</option>
                <option>OSSI</option>
                <option>TKCS</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary text-dark">Enviar</button>
    </form>
</div>
